@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    --black: #1C232D;
    --white: #FFF;
    --gray-100: #EEF0F3;
    --gray-200: #D5DAE1;
    --gray-300: #BBC3CF;
    --gray-400: #8896AB;
    --gray-500: #556987;
    --gray-600: #333F51;
    --primary-100: #DCFCE7;
    --primary-500: #22C55E;

    --font-sm : 0.75rem;
    --font-base : 1rem;
    --font-lg : 1.25rem;
    --font-xl : 1.125rem;
    --font-xxl : 1.5rem;
    --font-3xl : 1.875rem;
    --font-4xl : 3rem;

    --leading-1: 1.25;
    --leading-2: 1.267;
    --leading-3: 1.33;
    --leading-4: 1.5;
    --leading-5: 1.55;

    --kerning-1: 0.02em;

    --space-1: 1rem;
    --space-2: 1.125rem;

    --rounded-full: 9999px;
}

html {
    font-family: 'Poppins', sans-serif;
}

h1 {
    line-height: var(--leading-1);
    font-size: var(--font-4xl);
    font-weight: bold;
    letter-spacing: var(--kerning-1);
    margin: 0;
    text-align: center;
}

h2 {
    line-height: var(--leading-2);
    font-size: var(--font-3xl);
    font-weight: 600;
}

h5 {
    text-align: center;
    color: var(--gray-500);
}

p {
    font-size: var(--font-lg);
}

img {
    display: block;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}


.post__thumbnail {
    margin-top: 48px;
}

.post__info {
    color: var(--primary-500);
    font-size: var(--font-base);
    line-height: var(--leading-3);
    text-align: center;
}

.post__subtitle {
    margin-top: var(--space-1);
    font-weight: 500;
}

.piles {
    width: fit-content;
    margin: 24px auto;
}

.pile {
    border-radius: var(--rounded-full);
    background-color: var(--primary-100);
    color: var(--primary-500);
    padding: 5px 12px;
    text-decoration: none;
    /* display: inline-block; */
}

@media screen and (min-width:960px) {
    .container {
        max-width: 1024px;
    }
}